.secret-key-exchange-experimental-view {
  width: 100%;
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p .public {
    color: $aqua;
    font-weight: 500;
  }
  .form-control {
    padding: 0.75rem 0 0.75rem 0.75rem;
    font-size: 2rem;
    text-align: center;
  }
  .form-control.known {
    padding-right: 0.75rem;
  }
  .input-group {
    text-align: center;
  }
  #diffie-hellman-grid {
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 4em 1fr 1fr 2fr repeat(5, 1fr) / 1fr 1fr repeat(4, 2fr) 1.5em 1.5em repeat(2, 2fr) 1fr 1fr repeat(2, 2fr);
    .pa {
      padding: 0.5em;
    }
    .exp {
      align-self: flex-start;
      .form-control {
        font-size: 1.5rem;
      }
    }
    .mod {
      margin: 0.5em 0 1em 0;
      font-size: 2em;
      flex: 1;
    }
    .equal-sign {
      margin-bottom: 0.75em;
      font-size: 2em;
    }
    .divider-1 {
      grid-area: 2 / 8 / span 3 / 9;
      border-left: 2px dashed $magenta;
    }
    .divider-2 {
      grid-area: 6 / 8 / 7 / 9;
      border-left: 2px dashed $magenta;
    }
    .lines {
      grid-area: 5 / 2 / 6 / span 10;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .prime-input {
      grid-area: 1 / 6 / 2 / 7;
    }
    .base-input {
      grid-area: 1 / 9 / 2 / 10;
    }
    .alice-name {
      grid-area: 2 / 1 / 3 / 4;
      margin-top: auto;
    }
    .alice-secret-1 {
      grid-area: 3 / 1 / 4 / 3;
    }
    .alice-base {
      grid-area: 4 / 1 / 5 / 3;
    }
    .alice-secret-2 {
      grid-area: 4 / 3 / 5 / 4;
      justify-content: flex-start;
    }
    .alice-prime-1 {
      grid-area: 4 / 4 / 5 / 5;
    }
    .alice-equal-1 {
      grid-area: 4 / 5 / 5 / 6;
    }
    .alice-number {
      grid-area: 4 / 6 / 5 / 7;
    }
    .alice-bob-number {
      grid-area: 6 / 1 / 7 / 3;
    }
    .alice-secret-3 {
      grid-area: 6 / 3 / 7 / 4;
      justify-content: flex-start;
    }
    .alice-prime-2 {
      grid-area: 6 / 4 / 7 / 5;
    }
    .alice-equal-2 {
      grid-area: 6 / 5 / 7 / 6;
    }
    .alice-shared-secret {
      grid-area: 6 / 6 / 7 / 7;
    }
    .bob-name {
      grid-area: 2 / -2 / 3 / -4;
      margin-top: auto;
    }
    .bob-secret-1 {
      grid-area: 3 / -3 / 4 / -5;
    }
    .bob-base {
      grid-area: 4 / -3 / 5 / -5;
    }
    .bob-secret-2 {
      grid-area: 4 / -2 / 5 / -3;
      justify-content: flex-start;
    }
    .bob-prime-1 {
      grid-area: 4 / -1 / 5 / -2;
    }
    .bob-equal-1 {
      grid-area: 4 / -5 / 5 / -6;
    }
    .bob-number {
      grid-area: 4 / -6 / 5 / -7;
    }
    .bob-alice-number {
      grid-area: 6 / -3 / 7 / -5;
    }
    .bob-secret-3 {
      grid-area: 6 / -2 / 7 / -3;
      justify-content: flex-start;
    }
    .bob-prime-2 {
      grid-area: 6 / -1 / 7 / -2;
    }
    .bob-equal-2 {
      grid-area: 6 / -5 / 7 / -6;
    }
    .bob-shared-secret {
      grid-area: 6 / -6 / 7 / -7;
    }
  }
}
