.refresh {
  animation: refresh 1s 1;
  margin-bottom: 10px;
}

@keyframes refresh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// loading css
// https://codepen.io/jonmilner/pen/hDHuo

/* Animation */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px;
}

.loading__ring:first-child {
  -webkit-transform: skew(30deg, 20deg);
  transform: skew(30deg, 20deg);
}

.loading__ring:last-child {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
  transform: skew(-30deg, -20deg) scale(-1, 1);
}

.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}

// bootstrap 3 supplement for progress-bar (recom)
progress {
  display: inline-block;
  vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
  background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
  background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

// bootstrap 3 supplement for popover (recom)
.popover-arrow {
  border-style: none;
}

// Email subscription

#email-wrap {
  transition: height 0.3s;
  width: 313px;
  padding: 10px;
  color: $light-gray;
  border-radius: 7px 0;
  background: $dark-gray;
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

#email-wrap > * {
  vertical-align: middle;
}

#email-text-closed, #email-text-opened {
  cursor: pointer;
}

#email-text-opened {
  margin-bottom: 10px;
}

#email-text-closed {
  margin-bottom: 0;
}

#email-input {
  height: 28px;
  width: 205px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  background-color: $medium-gray;
  color: $light-gray;
  outline: 0;
  &:active {
    outline: 0;
  }
}

#unsubscribe-button {
  height: 28px;
  width: 100px;
  margin-left: 10px;
  display: inline-block;
  position: inherit;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: $light-gray;
  background-color: $purple;
  outline: 0;
  &:active {
    outline: 0;
  }
}

#email-button {
  width: 77px;
  height: 28px;
  margin-left: 10px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: $light-gray;
  background-color: $purple;
  outline: 0;
  &:active {
    outline: 0;
  }
}

.email-unsubscribe {
  font-size: 0.75em;
  padding: 10px;
  margin: 30px 0;
  width: 335px;
  #email-input {
    background-color: white;
    border: 1px $medium-gray solid;
    color: $medium-gray;
  }
}

// Top bar: Logo, Search, Navigation, Login

.top-bar {
  top: 0;
  background-color: $purple-light;
  position: fixed;
  width: 100%;
  z-index: 10;
  a:hover {
    text-decoration: none;
  }
  height: $top-bar-height+px;
}

#spacer {
  height: 86px;
}

#top-image {
  background-image: url("/img/sunrise-over-earth.jpg");
  width: 100%;
  height: 200px;
  position: relative;
  top: $top-bar-height+px;
  text-align: center;
  font: 400 42px sans-serif;
  color: #ffffff;
  background-color: black;
  padding-top: 79px;
}

#filters-description, #show-filters-link {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#filters-description {
  font-weight: 500;
}

#show-filters-link {
  color: #0275d8;
  font-weight: 400;
}

#filter-bar, #filter-items-container {
  background-color: #EDEDED;
  border-radius: 7px;
  border-bottom: 1px solid #CDCDCD;
}

#filter-bar {
  margin: auto;
  max-width: 890px;
  margin-top: 74px;
  border-bottom: 1px solid #ADADAD;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}

#filter-items-container {
  position: absolute;
  z-index: 15;
  width:100%;
  margin-top: -5px;
  padding: 10px 20px 10px 20px;
}

#filter-items-container-positioned-parent {
  position: relative;
  width: 100%;
}

#filter-items {
  position: relative;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  justify-content: space-between;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #DEDEDE;
  border: 1px solid #BEBEBE;
  border-radius: 7px;
}

#filter-items > * {
  flex-basis: 33%;
  text-align: center;
}

.filter {
  margin: 10px auto;
  width: 200px;
  input[type="checkbox"] {
      display: none;
  }
  input:checked + label {
    background-color: $purple-light;
    color: white;
  }
  label {
    width: 100%;
    text-align: center;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    color: #468ee5;
    font-weight: 400;
    font-size: 18px;
  }
}

#filter-button-container {
  text-align: center;
}

#filter-button-container button {
  background-color: #468ee5;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#arrow-left, #arrow-right {
  display: inline-block;
  width: 5%;
  font-size: 40px;
  margin: 0 5px 0 10px;
  cursor: pointer;
  text-align: center;
  color: #BFBFBF;
}
// Logo

.owlet-logo-div {
  padding: 0.4em 0.55em;
  .owlet-logo {
    width: 60px;
    transform: rotate(0deg);
    transition: transform 1s;
    transition-timing-function: ease;
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transition-timing-function: ease;
    -ms-transform: rotate(0deg);
    -ms-transition: -ms-transform 0.5s;
    -ms-transition-timing-function: ease;
    border-radius: 50%;
  }
  &:hover {
    .owlet-logo {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: transform 1s;
      transition-timing-function: ease;
      -webkit-transition: -webkit-transform 0.5s;
      -webkit-transition-timing-function: ease;
    }
  }
  .owlet-text {
    color: white;
    margin-left: 0.9em;
    text-align: center;
    h1 {
      font-size: 2.2em;
      font-weight: 500;
      line-height: 0.8em;
      margin: 0;
      letter-spacing: 0.1em;
    }
    p {
      font-size: 0.4em;
      line-height: 1em;
      margin: 0.7em 0 0 -0.8em;
      font-weight: 100;
    }
  }
}

// Search

.rc-typeahead-suggestions-container {
  border: 1px solid $light-gray;
}

.rc-typeahead-suggestion {
  background-color: white;
  color: $medium-gray;
}

.rc-typeahead-suggestion.active {
  background-color: $light-gray;
}

.search-container {
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  height: 40px;
  margin: 0 1em;
}

.search-bar-wrap {
  z-index: 20;
  position: absolute;
  color: black;
  font-weight: 400;
  width: 100%;
  .search {
    border-color: $light-gray;
    border-radius: 3.5px;
    background-color: white;
    color: $light-gray;
    height: 40px;
    font-size: 1em;
    transition: all 0.3s;
    background-image: url('../img/search-icon.png');
    background-size: auto 45%;
    background-repeat:no-repeat;
    background-position: left center;
    outline: 0;
    padding-left: 38px;
    &:focus {
      color: black;
    }
  }
}

// Top bar: small window size
@media (max-width: 410px) {
  .search-container {
    display: none;
  }
}
@media (max-width: 595px) {
  .owlet-text, .search-container:focus-within ~ .navigation {
    display: none;
  }
  .search-container {
    margin-left: 0.2em;
  }
  .top-bar .search-container {
    margin-right: .65em;
    &:focus-within {
      margin-right: 1.55em;
    }
  }
}

// Navigation

.navigation {
  margin-left: 0.9em;
  button {
    font-weight: 500;
    border: none;
    border-radius: 0;
    font-size: 0.7em;
    padding: 1em;
    text-transform: uppercase;
    background: none;
    color: white;
    border-left: 1px solid white;
    outline: none;
  }
  .btn-login {
    color: $aqua;
    background-color: white;
    height: 74px;
  }

  .btn-logout {
    color: $magenta;
    background-color: white;
    height: 74px;
  }
}

.hidden-top-bar {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  .owlet-text p {
    display: none;
  }
  .btn-login, .btn-logout {
    height: 60px;
  }
}

#confirm {
  color: black;
  font-size: 20px;
  padding: 10px;
}

#confirm-message, #g-recaptcha {
  margin: 30px auto;
  display: block;
  text-align: center;
}
#g-recaptcha {
  display: flex;
  justify-content: center;
}
