.code { font-family: monospace; }

.language, .code-eval h5 {
  display: inline-block;
}

.language {
  margin-left: 10px;
}

.panel-text code {
  font-family: monospace;
  background-color: #eee;
  padding: 0.2em 0.25em 0.05em 0.2em;
  margin-bottom: 1em;
}

h5.panel-text2 { margin-top: 1.6em }

.panel-text1, .panel-text1 {
  pre {
    font-family: monospace;
    background-color: #eee;
    padding: 0.5em;
    margin-bottom: 1em;
    code {
      background: none;
      border: none;
    }
  }
}

.CodeMirror {
  min-height: inherit;
}

.panel-text, #general-activity-info {
  .CodeMirror-scroll {
    min-height: 100px;
  }
  .CodeMirror-line {
    word-break: normal;
  }
  .CodeMirror-wrap pre code {
    word-break: break-all;
  }
}

.klipse-component {
  margin-top: 0.5em;
  pre {
    width: 100%;
    margin-right: 0 !important;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  .CodeMirror-scroll {
    min-height: inherit;
  }

  .CodeMirror {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .CodeMirror-code .cm-comment {
      background: none;
    }
  }

  /* hides loading component when
  klipse-separator is present */
  .klipse-separator + .loading {
    display: none;
  }

  .klipse-container {
    display: none;
  }

  .CodeMirror {
    padding: 10px;
  }

  .klipse-result {
    .CodeMirror-line:first-child {
      font-weight: 500;
      text-transform: uppercase;
      span {
        background-color: black;
        color: white;
        padding: 5px !important;
      }
    }
    .CodeMirror-cursors, .CodeMirror-cursor {
      display: none;
    }
    .CodeMirror-lines, .CodeMirror-line {
      cursor: default;
    }
  }

  .klipse-result .CodeMirror {
    background-color: $aqua;
    color: yellow;

    .CodeMirror-line:nth-child(2) {
      margin-top: 25px;
    }

    .cm-number,
    .cm-string,
    .cm-variable,
    .cm-keyword,
    .cm-error {
      color: yellow;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@-moz-keyframes shake {
  10%, 90% {
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-moz-keyframes hvr-pulse {
  25% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -moz-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#prev-slide {
  color: white;
  background-color: $purple;
  padding: 5px;
}

#prev-slide:focus {
  outline: 0;
}

#next-slide {
  padding: 5px;
  color: white;
  animation-play-state: running;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
}

#next-slide.inactive {
  background-color: $light-gray;
}

#next-slide:focus {
  outline: 0;

  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
}

#next-slide.inactive.animate {

  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -moz-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -o-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;

  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;

  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);

  backface-visibility: hidden;
  perspective: 1000px;
}

#next-slide.active {
  background-color: #6D2666;
}

#next-slide.active.animate {

  animation-name: hvr-pulse;
  -webkit-animation-name: hvr-pulse;
  -moz-animation-name: hvr-pulse;
  -o-animation-name: hvr-pulse;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;

  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;

  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;
}
