@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

$font-stack: "Rubik", sans-serif;
$purple: #32254B;
$dark-gray: rgb(12, 23, 27);
$medium-gray: #222F33;
$light-gray: #C8C8C8;
$aqua: #65D2C0;
$magenta: #FF0076;
