.welcome-wrap {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/landing.png') center no-repeat, -webkit-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: url('../img/landing.png') center no-repeat, -o-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: url('../img/landing.png') center no-repeat, -moz-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: url('../img/landing.png') center no-repeat, linear-gradient(to bottom, #1a0f2e, #493b68);
  background-size: auto 100%;
  text-align: center;
}

.welcome-text {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  color: white;
  width: 80%;
}

.user-type {
  position: absolute;
  left: 50vw;
  top: 28vh;
  z-index: 1;
  text-align: center;
}

#largetext {
  color: white;
  font-size: 5vw;
  margin: 0;
}

.btn-branches {
  background-color: $aqua;
  color: white;
  margin-bottom: 1em;
  &:hover {
    opacity: 0.75;
  }
}

// landing page media queries

@media screen and (max-width: 1000px) {
  .flex-item {
    display: none;
  }
  .user-type {
    position: static;
  }
  #largetext {
    font-size: 10vw;
  }
  #smalltext {
    font-size: 4vw;
  }
}
