.welcome-wrap {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  width: 100%;
  margin-top: 3em;
  .welcome-image, .welcome-text {
    width: 35%;
  }
  .welcome-text {
    font-style: italic;
    font-weight: 400;
    h1 {
      font-size: 1.9em;
      text-transform: uppercase;
      margin-bottom: 0.4em;
      mark {
        padding: .15em .55em .1em .25em;
        background-color: $purple-light;
      }
    }
    p {
      color: $purple-light;
      margin-left: 0.4em;
    }
    b {
      font-weight: 500;
    }
  }
}

.featured-projects-wrap {
  h2 {
    color: $purple-light;
    font-style: italic;
    background-color: #E8E8E8;
    padding: 0.6em 0 0.5em 2em;
    text-transform: uppercase;
  }
}

.btn-branches {
  background-color: $aqua;
  color: white;
  margin-bottom: 1em;
  &:hover {
    opacity: 0.75;
  }
}

// landing page media queries
