.welcome-wrap {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  width: 100%;
  margin-top: 3em;
  .welcome-image {
    width: 35%;
  }
  .welcome-text {
    width: 40%;
  }
  .welcome-image, .welcome-text {
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
  .welcome-image {
    text-align: center;
    img {
      width: 50%;
      margin-bottom: 2em;
    }
  }
  .welcome-text {
    font-weight: 400;
    margin-bottom: 1em;
    h1 {
      font-style: italic;
      font-size: 1.5em;
      text-transform: uppercase;
      margin-bottom: 0.4em;
      mark {
        padding: .15em .55em .1em .25em;
        background-color: $purple-light;
      }
      @media screen and (min-width: 900px) {
        font-size: 1.9em;
      }
    }
    p {
      color: $purple-light;
      margin-left: 0.4em;
    }
    b {
      font-weight: 500;
    }
  }
  @media screen and (max-width: 700px) {
    text-align: center;
    padding: 1.5em;
    padding-bottom: 0;
    margin-top: 1em;
    .welcome-text p {
      margin-left: 0;
    }
    .welcome-image img {
      margin-bottom: 0.75em;
    }
  }
}

.featured-projects-wrap {
  h2 {
    color: $purple-light;
    font-style: italic;
    background-color: #E8E8E8;
    padding: 0.6em 0 0.5em 2em;
    text-transform: uppercase;
    margin-bottom: 0;
    @media screen and (max-width: 700px) {
      text-align: center;
      padding-left: 0;
    }
  }
  .grid {
    margin-left: 25px;
    @media screen and (min-width: 1300px) {
      margin-left: 35px;
    }
    @media screen and (max-width: 879px) {
      margin-left: 10px;
    }
    @media screen and (max-width: 779px) {
      margin-left: 4px;
    }
  }
  .grid-item {
    width: 30%;
    margin: 1.7em 0.6em 0 0.9em;
    @media screen and (min-width: 1300px) {
      margin: 1.7em 1em 0 0.8em;
    }
    @media screen and (max-width: 1080px) {
      width: 29%;
    }
    @media screen and (max-width: 800px) {
      width: 94%;
    }
  }
}

.btn-signup {
  font-size: 1.1em;
  margin-left: 0.4em;
  padding: 0.35em 0.5em;
  background-color: none;
  color: $purple-light;
  border: 2px solid $purple-light;
  &:hover {
    background-color: $purple-light;
    color: white;
  }
}

.btn-explore {
  font-size: 1.1em;
  margin-left: 1em;
  padding: 0.35em 0.5em;
  background-color: $aqua;
  color: white;
  border: 2px solid $aqua;
}
