@import 'vars';
@import 'global';
@import 'branches';
@import 'branch';
@import 'activity';
@import 'interactive';
@import 'about-settings';
@import 'creation';
@import 'welcome';
@import 'experimental-views';

body {
  font: 100% $font-stack;
  font-weight: 300;
  color: $dark-gray;
  font-size: 1.2rem;
  overflow-x: hidden;
  background-color: #F7F7F7;
}

.semi-bold { font-weight: 500; }

input, textarea, button, select { border-radius: 4px }

textarea, input {
  border: 1px solid gray;
  padding: 0.25em;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
}

h1, h2, h5 { font-weight: 400 }
h3, h4 { font-weight: 300 }
h2, h3, h5 { margin: 10px 0 15px 0 }

h1 {
  margin-top: 5px;
  line-height: 1.55em;
}

h4 b {
  font-weight: 500;
}

li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
}

.btn { padding: .5rem .6rem }

.btn:focus {
  outline: none;
  &:active {
    outline: none;
  }
}

b {
  font-weight: 700;
}

mark {
  color: white;
  background-color: black;
  padding: .1em .3em;
}

mark.white {
  color: gray;
  background-color: white;
  padding: .1em .3em;
}

.box-shadow, .box {
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.text-shadow {
  text-shadow: 1px 2px 3px #000000;
}

.flex-row {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
}

.flex-item {
  width: 100%;
}

.flex-item-top {
  width: 100%;
  align-self: flex-start;
}

.flex-item-bottom {
  width: 100%;
  align-self: flex-end;
}

.not-found {
  margin-left: 40px;
  h2 {
    font-size: 2.4rem;
    margin-top: 1.2em;
  }
}

#top {
  background-color: #1a0f2e;
}

#bottom {
  background-color: #493b68;
}

#jsdisabled {
  background: -moz-linear-gradient(top, #1A0F2E 0%, #493B68 100%);
  background: -webkit-linear-gradient(top, #1A0F2E 0%, #493B68 100%);
  background: linear-gradient(to bottom, #1A0F2E 0%, #493B68 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A0F2E', endColorstr='#493B68',GradientType=0 );
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#jsdisabled-text {
  position: absolute;
  top: 48vh;
  right: 10%;
  color: white;
  font-size: 4vw;
  line-height: 4vh;
  width: 80%;
}

/* main content */

#main {
  display: flex;
  display: -webkit-flex;
  overflow-y: visible;
  height: 100vh;
}

.content {
  padding-top: 74px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.outer-height-wrap, .inner-height-wrap {
  width: 100%;
  height: 100vh;
}

button {
  font-size: 1rem;
}
