@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
.refresh {
  animation: refresh 1s 1;
  margin-bottom: 10px; }

@keyframes refresh {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Animation */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; }

.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px; }

.loading__ring:first-child {
  -webkit-transform: skew(30deg, 20deg);
  transform: skew(30deg, 20deg); }

.loading__ring:last-child {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
  transform: skew(-30deg, -20deg) scale(-1, 1); }

.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2); }

progress {
  display: inline-block;
  vertical-align: baseline; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease; }

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px; }

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.progress-bar-success {
  background-color: #5cb85c; }

.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-info {
  background-color: #5bc0de; }

.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-warning {
  background-color: #f0ad4e; }

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-danger {
  background-color: #d9534f; }

.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.popover-arrow {
  border-style: none; }

.login {
  margin-top: 10px;
  z-index: 1;
  text-align: center; }

.login-landing {
  position: absolute;
  top: 13px;
  right: 10px; }

.btn-login {
  color: #fff;
  background-color: #65D2C0;
  border-color: #65D2C0; }
  .btn-login:hover {
    color: #5EFFE4;
    background-color: #32254B; }

.btn-logout {
  color: #5EFFE4;
  background-color: transparent;
  border-color: #65D2C0; }
  .btn-logout:hover {
    color: #fff;
    background-color: #65D2C0; }

#email-wrap {
  transition: height 0.3s;
  width: 313px;
  padding: 10px;
  color: #C8C8C8;
  border-radius: 7px 0;
  background: #0c171b;
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2; }

#email-wrap > * {
  vertical-align: middle; }

#email-text-closed, #email-text-opened {
  cursor: pointer; }

#email-text-opened {
  margin-bottom: 10px; }

#email-text-closed {
  margin-bottom: 0; }

#email-input {
  height: 28px;
  width: 205px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  background-color: #222F33;
  color: #C8C8C8;
  outline: 0; }
  #email-input:active {
    outline: 0; }

#unsubscribe-button {
  height: 28px;
  width: 100px;
  margin-left: 10px;
  display: inline-block;
  position: inherit;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: #C8C8C8;
  background-color: #32254B;
  outline: 0; }
  #unsubscribe-button:active {
    outline: 0; }

#email-button {
  width: 77px;
  height: 28px;
  margin-left: 10px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: #C8C8C8;
  background-color: #32254B;
  outline: 0; }
  #email-button:active {
    outline: 0; }

.email-unsubscribe {
  font-size: 0.75em;
  padding: 10px;
  margin: 30px 0;
  width: 335px; }
  .email-unsubscribe #email-input {
    background-color: white;
    border: 1px #222F33 solid;
    color: #222F33; }

.rc-typeahead-suggestion {
  background-color: #3B3B3B; }
  .rc-typeahead-suggestion:hover {
    background-color: whitesmoke;
    color: black; }

.rc-typeahead-suggestion.active {
  background-color: whitesmoke;
  color: black; }

.search-bar-wrap {
  position: fixed;
  color: white;
  width: 100%;
  z-index: 10; }
  .search-bar-wrap .search {
    border-color: #C8C8C8;
    border-radius: 0 3.5px;
    background-color: black;
    color: #C8C8C8;
    height: 50px;
    font-size: 1.2em;
    transition: all 0.3s;
    background-image: url("../img/search-icon.png");
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
    padding-left: 38px; }
    .search-bar-wrap .search:focus {
      border-color: #65D2C0;
      color: white;
      background-color: black; }
  .search-bar-wrap .hidden-search {
    height: 1.2em;
    padding-top: 0;
    padding-bottom: 0; }
  @media (max-width: 767px) {
    .search-bar-wrap {
      margin-left: 31px; } }

#confirm {
  color: white; }

#confirm-message {
  position: absolute;
  top: 70px;
  left: calc(50vw - 135px);
  display: block;
  width: 430px; }
  @media (max-width: 767px) {
    #confirm-message {
      left: calc(50vw - 215px); } }

#g-recaptcha {
  position: absolute;
  top: 110px;
  left: calc(50vw - 71px); }
  @media (max-width: 767px) {
    #g-recaptcha {
      left: calc(50vw - 151px); } }

.navigation {
  cursor: pointer; }

.owlet-image {
  display: block;
  height: 108px;
  width: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.owlet-owl {
  transform: rotate(0deg);
  transition: transform 1s;
  transition-timing-function: ease;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease;
  -ms-transform: rotate(0deg);
  -ms-transition: -ms-transform 0.5s;
  -ms-transition-timing-function: ease;
  border-radius: 50%; }

#sidebar {
  min-height: inherit;
  min-width: inherit;
  z-index: 3;
  text-align: center;
  background-color: #32254B;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80px; }
  #sidebar .menu {
    padding-top: 10px;
    overflow: hidden;
    background-color: #32254B; }
    #sidebar .menu a {
      margin-top: 20px;
      color: white;
      text-decoration: none;
      display: block; }
    #sidebar .menu div.branch-icon,
    #sidebar .menu div.settings-icon,
    #sidebar .menu div.about-icon {
      margin: 10px; }
    #sidebar .menu div.branch-icon::before, #sidebar .menu div.branch-icon::after,
    #sidebar .menu div.settings-icon::before,
    #sidebar .menu div.about-icon::before, #sidebar .menu div.about-icon::after {
      content: "";
      display: inline-block;
      background-size: 100%; }
    #sidebar .menu div.branch-icon, #sidebar .menu div.branch-icon::before, #sidebar .menu a.branch-icon:hover div.branch-icon::after,
    #sidebar .menu div.settings-icon, #sidebar .menu div.settings-icon::before,
    #sidebar .menu div.about-icon, #sidebar .menu div.about-icon::before, #sidebar .menu a.about-icon:hover div.about-icon::after {
      width: 60px;
      height: 60px; }
    #sidebar .menu div.branch-icon::after, #sidebar .menu a.branch-icon:hover div.branch-icon::before,
    #sidebar .menu div.about-icon::after, #sidebar .menu a.about-icon:hover div.about-icon::before {
      opacity: 0; }
    #sidebar .menu div.settings-icon::before {
      background-image: url("../img/icon3.png"); }
    #sidebar .menu div.branch-icon::before {
      background-image: url("../img/icon1.png"); }
    #sidebar .menu div.branch-icon::after {
      background-image: url("../img/icon1-nudge.gif"); }
    #sidebar .menu a.branch-icon:hover div.branch-icon::before,
    #sidebar .menu a.about-icon:hover div.about-icon::before {
      width: 0;
      height: 0; }
    #sidebar .menu a.branch-icon:hover div.branch-icon::after,
    #sidebar .menu a.about-icon:hover div.about-icon::after {
      opacity: 1; }
    #sidebar .menu div.about-icon::before {
      background-image: url("../img/icon4.png"); }
    #sidebar .menu div.about-icon::after {
      background-image: url("../img/icon4-hover.png"); }
    #sidebar .menu .rc-popover-anchor-wrapper {
      position: absolute;
      left: 0; }
    #sidebar .menu .rc-popover-point {
      opacity: 0.75; }

#sidebar-wrap {
  background-color: #32254B;
  min-width: 80px; }

#lpsidebar {
  position: fixed;
  z-index: 100;
  transition: all 0.3s;
  text-align: center;
  background-color: #32254B;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden; }

#lpsidebar-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 100; }

.lpsidebar-toggle {
  z-index: 100;
  cursor: pointer;
  border-left: 1px solid #6A2569;
  transition: all 0.3s;
  position: fixed;
  top: 2px;
  height: 86px; }

#lpsidebar-opened {
  left: 80px; }

#opened-sidebar {
  cursor: pointer;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: 3;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s; }

.navbar {
  padding: 0;
  margin: 0; }
  .navbar a {
    margin-left: auto;
    margin-right: auto; }
  .navbar .owlet-logo-div {
    margin-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: url("../img/owlet-text.png"); }
    .navbar .owlet-logo-div:hover .owlet-owl {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: transform 1s;
      transition-timing-function: ease;
      -webkit-transition: -webkit-transform 0.5s;
      -webkit-transition-timing-function: ease; }
  .navbar .menu {
    padding-top: 10px;
    overflow: hidden;
    background-color: #32254B; }
    .navbar .menu a {
      margin-top: 20px;
      color: white;
      text-decoration: none;
      display: block; }
    .navbar .menu div.branch-icon,
    .navbar .menu div.settings-icon,
    .navbar .menu div.about-icon {
      margin: 10px; }
    .navbar .menu div.branch-icon::before, .navbar .menu div.branch-icon::after,
    .navbar .menu div.settings-icon::before,
    .navbar .menu div.about-icon::before, .navbar .menu div.about-icon::after {
      content: "";
      display: inline-block;
      background-size: 100%; }
    .navbar .menu div.branch-icon, .navbar .menu div.branch-icon::before, .navbar .menu a.branch-icon:hover div.branch-icon::after,
    .navbar .menu div.settings-icon, .navbar .menu div.settings-icon::before,
    .navbar .menu div.about-icon, .navbar .menu div.about-icon::before, .navbar .menu a.about-icon:hover div.about-icon::after {
      width: 60px;
      height: 60px; }
    .navbar .menu div.branch-icon::after, .navbar .menu a.branch-icon:hover div.branch-icon::before,
    .navbar .menu div.about-icon::after, .navbar .menu a.about-icon:hover div.about-icon::before {
      opacity: 0; }
    .navbar .menu div.settings-icon::before {
      background-image: url("../img/icon3.png"); }
    .navbar .menu div.branch-icon::before {
      background-image: url("../img/icon1.png"); }
    .navbar .menu div.branch-icon::after {
      background-image: url("../img/icon1-nudge.gif"); }
    .navbar .menu a.branch-icon:hover div.branch-icon::before,
    .navbar .menu a.about-icon:hover div.about-icon::before {
      width: 0;
      height: 0; }
    .navbar .menu a.branch-icon:hover div.branch-icon::after,
    .navbar .menu a.about-icon:hover div.about-icon::after {
      opacity: 1; }
    .navbar .menu div.about-icon::before {
      background-image: url("../img/icon4.png"); }
    .navbar .menu div.about-icon::after {
      background-image: url("../img/icon4-hover.png"); }

.branchwrapper.col-xs-12.col-sm-6.col-lg-4 {
  padding-right: inherit;
  padding-left: inherit; }

#branches {
  margin: 2.5em 1.5em 2em 1.5em; }
  #branches a {
    display: block;
    height: 100%;
    padding: 25px 15px; }
  #branches .branchwrap {
    border-radius: 7px;
    margin: 15px 0;
    height: 117px;
    background-size: 100%;
    background-position: center;
    transition: background-size 1s ease;
    -moz-transition: background-size 1s ease;
    -ms-transition: background-size 1s ease;
    -webkit-transition: background-size 1s ease;
    -o-transition: background-size 1s ease; }
    #branches .branchwrap:hover {
      background-size: 125% !important; }
    #branches .branchwrap .branch-bg {
      border-radius: 7px;
      height: 100%;
      background-size: 225% 100%;
      background-repeat: no-repeat;
      background-position: bottom left; }
      #branches .branchwrap .branch-bg:hover {
        background-color: transparent !important;
        background-position: bottom right !important; }
    #branches .branchwrap h2 {
      font-weight: 300;
      font-size: 1.3em; }
    #branches .branchwrap .branch {
      color: #cffffd;
      text-decoration: none; }
  #branches #title {
    font-size: 1.6em;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 0.5em; }

.counter {
  position: absolute;
  right: 25px;
  bottom: 25px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%; }
  .counter p {
    color: white;
    margin-bottom: 0px;
    position: relative;
    top: 10px;
    text-align: center; }

.branch-activities-wrap .flexcontainer-wrap {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.platform-description {
  width: 75%;
  background-color: white;
  color: black;
  padding: .2em .3em;
  margin: 0 15px 30px 15px; }
  .platform-description a:hover {
    color: cornflowerblue; }
  .platform-description p {
    padding: 5px;
    margin-bottom: 0; }

.branch-activities-wrap {
  margin: 15px 20px 0 25px; }
  .branch-activities-wrap h2 {
    font-size: 2.4rem;
    margin: 1.2em 0 .1em 0;
    text-transform: uppercase; }
  .branch-activities-wrap h3 {
    font-size: 1.9rem;
    margin-bottom: 1em; }
  @media (max-width: 500px) {
    .branch-activities-wrap .col-xs-12.col-md-6.col-lg-4 {
      padding: 0; } }

.no-activities {
  margin-left: 21px; }

i.back {
  color: white;
  padding-bottom: .1em;
  margin-right: 12px; }
  i.back:hover {
    opacity: 0.75; }

.pushed-left {
  padding-left: 15px; }

.tag {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #564B82;
  margin: 5px;
  padding: 7px 7px 6px 7px;
  font-weight: normal;
  font-size: 12px;
  background-color: #564B82; }
  .tag:hover {
    background-color: #483C6C; }

.tag.inactive {
  color: #564B82;
  background-color: white;
  border: 1px solid #564B82; }
  .tag.inactive:hover {
    background-color: #564B82;
    color: white; }

.platform {
  font-size: 1em;
  padding: 5px 6px;
  color: white;
  background-color: #AAAAAA; }
  .platform:hover {
    opacity: 0.75; }

.rc-popover-wrapper, .rc-popover-point {
  min-height: 0;
  height: 0; }

span.platform-details {
  margin-left: 2px; }

.activity-thumbnail-wrap {
  border-radius: 7px;
  border: 2px solid black;
  font-size: 0.9em;
  background-color: white;
  padding: 10px 10px 9px 10px;
  margin: .75em 0;
  overflow-y: auto; }
  @media (max-width: 1187px) {
    .activity-thumbnail-wrap {
      font-size: 0.8em; } }
  @media (max-width: 500px) {
    .activity-thumbnail-wrap {
      margin-left: 15px; } }
  .activity-thumbnail-wrap .activity-thumbnail {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 0.5s ease;
    -moz-transition: background-size 0.5s ease;
    -ms-transition: background-size 0.5s ease;
    -webkit-transition: background-size 0.5s ease;
    -o-transition: background-size 0.5s ease;
    height: 250px; }
    .activity-thumbnail-wrap .activity-thumbnail:hover {
      background-size: 130% !important; }
    @media only screen and (max-width: 767px) and (min-width: 650px) {
      .activity-thumbnail-wrap .activity-thumbnail {
        height: 400px; } }
    .activity-thumbnail-wrap .activity-thumbnail .title {
      position: absolute;
      bottom: 0;
      left: 0;
      text-transform: uppercase;
      font-size: 1.1em; }
  .activity-thumbnail-wrap .summary {
    margin-top: 20px;
    font-size: 0.9em; }
  .activity-thumbnail-wrap .platform-wrap {
    margin-top: 15px;
    font-size: 0.65em; }
  .activity-thumbnail-wrap .platform {
    margin: 3px 0 0 0;
    padding: 5px 6px 4px 6px;
    font-size: 1em; }
    .activity-thumbnail-wrap .platform p {
      margin: 0; }
  .activity-thumbnail-wrap span.platform-details {
    font-size: 0.8em; }
  .activity-thumbnail-wrap .tag {
    margin: 10px 10px 0px 0px;
    font-size: 0.55em; }

.activity-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  height: 100vh;
  font-size: 0.85em; }
  .activity-wrap span.h3 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em; }
  .activity-wrap .list-title p {
    margin-bottom: 0; }

.activity-header {
  margin-bottom: 20px; }

.activity-content, .activity-header {
  word-wrap: break-word;
  padding: 0 12px 0 20px; }

.activity-content {
  font-size: 1.2em; }
  .activity-content h1 {
    font-style: italic; }

.activity-title-wrap {
  margin-top: 18px;
  margin-bottom: 15px; }
  .activity-title-wrap h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
    text-transform: uppercase; }
  .activity-title-wrap input {
    background-color: black;
    color: white;
    width: 100%; }
  .activity-title-wrap .author {
    color: #ADADAD;
    margin-top: 0.25em; }
    .activity-title-wrap .author input {
      border: 1px solid #C8C8C8;
      margin-top: 5px;
      color: #222F33; }

.activity-info-wrap, .activity-creation-wrap, .activity-inspiration-wrap, .activity-challenge-wrap {
  background-color: white;
  padding: 10px 12px 10px 15px;
  margin-bottom: 30px;
  border: 2px solid black; }
  .activity-info-wrap span.platform-details, .activity-creation-wrap span.platform-details, .activity-inspiration-wrap span.platform-details, .activity-challenge-wrap span.platform-details {
    font-size: 0.75em; }

.activity-challenge-wrap, .activity-inspiration-wrap {
  margin: 2em 0;
  border: 2px solid black;
  width: 100%; }
  .activity-challenge-wrap img, .activity-inspiration-wrap img {
    max-width: 100%; }

.activity-embed-wrap {
  margin-bottom: 30px;
  border: 2px solid black; }

.embed-container {
  position: relative;
  padding-bottom: 72.9167%;
  height: 0;
  overflow: hidden; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.activity-tags-wrap {
  padding: 5px;
  background-color: #0c171b;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .activity-tags-wrap .tags {
    padding: 2px 5px 0 12px;
    letter-spacing: 2px;
    font-weight: 400; }

.activity-gallery-wrap {
  margin-bottom: 2em;
  border: 2px solid black; }

.activity-comments-wrap {
  background: #0C171B;
  padding: 10px;
  margin-bottom: 2em; }

.img-gallery {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.img-gallery img {
  height: 100%;
  width: auto; }

.img-gallery figure {
  display: block;
  float: left;
  margin: 0.66%;
  height: 205px; }
  @media (max-width: 1200px) {
    .img-gallery figure {
      height: 140px; } }
  @media (max-width: 642px) {
    .img-gallery figure {
      height: 89px; } }
  @media (max-width: 375px) {
    .img-gallery figure {
      height: 76px; } }

.code {
  font-family: monospace; }

.language, .code-eval h5 {
  display: inline-block; }

.language {
  margin-left: 10px; }

div.code-block {
  font-family: monospace;
  background-color: #eee;
  padding: 0.5em;
  margin-bottom: 1em; }
  div.code-block textarea {
    padding: 0.3em 0.2em;
    background: none; }

span.inline-code {
  font-family: monospace;
  background-color: #eee;
  padding: 0.2em 0.25em 0.05em 0.2em;
  margin-bottom: 1em; }

.CodeMirror {
  min-height: inherit; }

.panel-text .CodeMirror-scroll, #general-activity-info .CodeMirror-scroll {
  min-height: 100px; }

.panel-text .CodeMirror-line, #general-activity-info .CodeMirror-line {
  word-break: normal; }

.panel-text .CodeMirror-wrap pre code, #general-activity-info .CodeMirror-wrap pre code {
  word-break: break-all; }

.klipse-component {
  margin-top: 0.5em;
  /* hides loading component when
  klipse-separator is present */ }
  .klipse-component pre {
    width: 100%;
    margin-right: 0 !important; }
    @media screen and (max-width: 991px) {
      .klipse-component pre {
        width: 100%; } }
  .klipse-component .CodeMirror-scroll {
    min-height: inherit; }
  .klipse-component .CodeMirror {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .klipse-component .CodeMirror .CodeMirror-code .cm-comment {
      background: none; }
  .klipse-component .klipse-separator + .loading {
    display: none; }
  .klipse-component .klipse-container {
    display: none; }
  .klipse-component .CodeMirror {
    padding: 10px; }
  .klipse-component .klipse-result .CodeMirror-line:first-child {
    font-weight: 500;
    text-transform: uppercase; }
    .klipse-component .klipse-result .CodeMirror-line:first-child span {
      background-color: black;
      color: white;
      padding: 5px !important; }
  .klipse-component .klipse-result .CodeMirror-cursors, .klipse-component .klipse-result .CodeMirror-cursor {
    display: none; }
  .klipse-component .klipse-result .CodeMirror-lines, .klipse-component .klipse-result .CodeMirror-line {
    cursor: default; }
  .klipse-component .klipse-result .CodeMirror {
    background-color: #65D2C0;
    color: yellow; }
    .klipse-component .klipse-result .CodeMirror .CodeMirror-line:nth-child(2) {
      margin-top: 25px; }
    .klipse-component .klipse-result .CodeMirror .cm-number,
    .klipse-component .klipse-result .CodeMirror .cm-string,
    .klipse-component .klipse-result .CodeMirror .cm-variable,
    .klipse-component .klipse-result .CodeMirror .cm-keyword,
    .klipse-component .klipse-result .CodeMirror .cm-error {
      color: yellow; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }

@-moz-keyframes shake {
  10%, 90% {
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }

@keyframes hvr-pulse {
  25% {
    transform: scale(1.1); }
  75% {
    transform: scale(0.9); } }

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@-moz-keyframes hvr-pulse {
  25% {
    -moz-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -moz-transform: scale(0.9);
    transform: scale(0.9); } }

#nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }

#prev-slide {
  color: white;
  background-color: #32254B;
  padding: 5px; }

#prev-slide:focus {
  outline: 0; }

#next-slide {
  padding: 5px;
  color: white; }

#next-slide.inactive {
  background-color: #C8C8C8; }

#next-slide:focus {
  outline: 0;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused; }

#next-slide.inactive.animate {
  animation-play-state: running;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -moz-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -o-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

#next-slide.active {
  background-color: #6D2666; }

#next-slide.active.animate {
  animation-play-state: running;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-name: hvr-pulse;
  -webkit-animation-name: hvr-pulse;
  -moz-animation-name: hvr-pulse;
  -o-animation-name: hvr-pulse;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -o-animation-iteration-count: 3; }

.information-wrap {
  margin: 30px 15px 15px 15px;
  height: 100vh; }
  .information-wrap h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .information-wrap h3 {
    font-weight: 700;
    margin-bottom: 0.9em; }
  .information-wrap .information-inner-wrap {
    padding: 0 10px 0 15px; }
  .information-wrap .information-inner {
    background-color: white;
    padding: 23px;
    font-size: 1.3em;
    margin-bottom: 2em;
    border: 2px solid black; }
  .information-wrap .contributors {
    font-size: 1.1em; }
    .information-wrap .contributors h3 {
      font-weight: 300;
      text-transform: uppercase; }
    .information-wrap .contributors h4 {
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 0.2em; }
  .information-wrap ol li {
    line-height: 1.6em; }

.settings-section {
  margin-top: 2em; }
  .settings-section h3 {
    margin-bottom: 0; }

.panel-heading {
  margin-left: -15px;
  margin-top: -10px;
  align-items: flex-start; }
  .panel-heading h2 {
    margin-bottom: 0; }
  .panel-heading textarea {
    font-weight: 500;
    padding-left: 0.15em;
    resize: none; }

.panel-number {
  background-color: black;
  color: white;
  padding: 0.1em 0.3em;
  margin-right: 0.25em;
  font-size: 1.25em; }

#select-platform, #select-tags, #select-branches {
  padding: 5px; }

#select-platform form input {
  display: inline-block; }

#select-categories {
  background-color: white;
  padding-left: 5px;
  padding-top: 3px; }
  #select-categories h5 {
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 10px; }

#select-categories input[type="radio"], #select-categories input[type="checkbox"] {
  margin-top: -.32em;
  margin-right: 5px;
  vertical-align: middle; }

.panel-validation {
  margin-bottom: 14px; }

.pane-number {
  width: 2.2em; }

.activity-creation-wrap input[type="text"] {
  width: 100%;
  margin-bottom: 10px; }

.activity-creation-wrap h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase; }

.code-preview, .add-validation, .rem-validation {
  margin: 5px 5px 15px 5px;
  border: 2px solid #65D2C0; }
  .code-preview:hover, .add-validation:hover, .rem-validation:hover {
    background-color: #65D2C0; }

.add-panel {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0.1em 1em 1.5em 0;
  background-color: white;
  color: #0c171b;
  border: 4px #65D2C0 solid;
  padding: 0.2em 0.4em 0.2em 0.35em; }
  .add-panel:hover {
    background: #65D2C0;
    color: black; }

.save-activity {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0.1em 0 3em;
  background-color: #0c171b;
  color: white;
  padding: 0.2em 0.4em 0.2em 0.45em;
  border: 4px #65D2C0 solid; }
  .save-activity:hover {
    background: #65D2C0;
    color: black; }

.welcome-text {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  color: white;
  width: 80%; }

.user-type {
  position: absolute;
  left: 50vw;
  top: 28vh;
  z-index: 1;
  text-align: center; }

#largetext {
  color: white;
  font-size: 5vw;
  margin: 0; }

.btn-branches {
  background-color: #00A79D;
  color: white;
  margin-bottom: 1em; }
  .btn-branches:hover {
    opacity: 0.75; }

@media (max-width: 1000px) {
  .flex-item {
    display: none; }
  .user-type {
    position: static; }
  #largetext {
    font-size: 10vw; }
  #smalltext {
    font-size: 4vw; } }

body {
  font: 100% "Rubik", sans-serif;
  font-weight: 300;
  color: #0c171b;
  font-size: 1.2rem;
  overflow-x: hidden; }

.semi-bold {
  font-weight: 500; }

input, textarea, button, select {
  border-radius: 4px; }

textarea, input {
  border: 1px solid gray;
  padding: 0.25em; }

textarea {
  margin-bottom: 10px;
  width: 100%; }

h1, h2, h5 {
  font-weight: 400; }

h3, h4 {
  font-weight: 300; }

h2, h3, h5 {
  margin: 10px 0 15px 0; }

h1 {
  margin-top: 5px;
  line-height: 1.55em; }

h4 b {
  font-weight: 500; }

li {
  margin-top: 0.3em;
  margin-bottom: 0.3em; }

a:hover {
  text-decoration: none; }

.btn {
  padding: .5rem .6rem; }

.btn:focus {
  outline: none; }
  .btn:focus:active {
    outline: none; }

b {
  font-weight: 700; }

mark {
  color: white;
  background-color: black;
  padding: .1em .3em; }

mark.white {
  color: gray;
  background-color: white;
  padding: .1em .3em; }

.box-shadow, .box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }

.text-shadow {
  text-shadow: 1px 2px 3px #000000; }

.flexcontainer-wrap {
  margin-top: 0.6em;
  font-size: 2rem;
  font-weight: 400;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center; }

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/landing.png") center no-repeat, -webkit-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: url("../img/landing.png") center no-repeat, -o-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: url("../img/landing.png") center no-repeat, -moz-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: url("../img/landing.png") center no-repeat, linear-gradient(to bottom, #1a0f2e, #493b68);
  background-size: auto 100%;
  text-align: center; }

.flex-item {
  width: 100%; }

.flex-item-top {
  width: 100%;
  align-self: flex-start; }

.flex-item-bottom {
  width: 100%;
  align-self: flex-end; }

.not-found {
  margin-left: 40px; }
  .not-found h2 {
    font-size: 2.4rem;
    margin-top: 1.2em; }

#top {
  background-color: #1a0f2e; }

#bottom {
  background-color: #493b68; }

#jsdisabled {
  background: -moz-linear-gradient(top, #1A0F2E 0%, #493B68 100%);
  background: -webkit-linear-gradient(top, #1A0F2E 0%, #493B68 100%);
  background: linear-gradient(to bottom, #1A0F2E 0%, #493B68 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A0F2E', endColorstr='#493B68',GradientType=0 );
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center; }

#jsdisabled-text {
  position: absolute;
  top: 48vh;
  right: 10%;
  color: white;
  font-size: 4vw;
  line-height: 4vh;
  width: 80%; }

/* main content */
#main {
  display: flex;
  overflow-y: visible; }

.content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-top: 50px;
  background-size: cover !important; }

.outer-height-wrap {
  height: 100vh;
  width: 100%; }

.inner-height-wrap {
  height: 100%;
  width: 100%; }

@media (min-width: 992px) {
  #main {
    height: 100vh; } }

button {
  font-size: 1rem; }
